In [1]:
import numpy as np
import pandas as pd

In [ ]:
# This dataset records many endangered languages around the world. 
# The goal of this analysis is to find out whether "Telugu" is an endangered language in India.

In [2]:
data=pd.read_csv('Data/endangeredLang.csv')

In [3]:
list(data)

['ID',
 'Name in English',
 'Countries',
 'Country codes alpha 3',
 'Degree of endangerment',
 'Number of speakers',
 'Latitude',
 'Longitude',
 'Description of the location']

In [4]:
data[['Countries','Name in English']].head(6)

                                           Countries Name in English
0                                              Italy   South Italian
1                                              Italy        Sicilian
2  Germany, Denmark, Netherlands, Poland, Russian...       Low Saxon
3  Belarus, Latvia, Lithuania, Poland, Russian Fe...      Belarusian
4                                 Italy, Switzerland         Lombard
5  Albania, Germany, Austria, Belarus, Bosnia and...          Romani

In [5]:
data.groupby(['Degree of endangerment']).count()

,ID,Name in English,Countries,Country codes alpha 3,Number of speakers,Latitude,Longitude,Description of the location
Degree of endangerment,,,,,,,,
Critically endangered,607,607,607,607,544,606,606,395
Definitely endangered,680,680,679,679,635,680,680,485
Extinct,253,253,253,253,244,252,252,142
Severely endangered,554,554,554,554,505,554,554,388
Vulnerable,628,628,628,628,611,627,627,460

In [6]:
data['Degree of endangerment'].value_counts()

Definitely endangered    680
Vulnerable               628
Critically endangered    607
Severely endangered      554
Extinct                  253
Name: Degree of endangerment, dtype: int64

In [7]:
data[(data.Countries == 'India')& (data["Name in English"].str.startswith("T"))]

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
18,1585,Tulu,India,IND,Vulnerable,1722768.0,12.0178,75.7067,"Karnataka, Andhra Pradesh, Kerala"
128,1161,Thado,India,IND,Vulnerable,191000.0,24.4521,93.2354,"Manipur, Chandel Dt; Nagaland, Kohima District..."
146,1154,Tangkhul,India,IND,Vulnerable,142000.0,25.0358,94.4824,"Manipur, Ukhrul Dt.;; Nagaland, Phek Dt. Also ..."
279,1104,Tangsa,India,IND,Vulnerable,40000.0,27.4059,96.4270,"Arunachal Pradesh, Changlang and Tirap distric..."
330,979,Tagin,India,IND,Vulnerable,30000.0,28.0380,94.2022,"Arunachal Pradesh, Lower Subansiri and Upper S..."
370,1173,Tiwa,India,IND,Definitely endangered,23000.0,25.7801,92.5927,"Assam, Kamrup, Marigaon districts and Karbi An..."
737,1216,Turi,India,IND,Definitely endangered,5000.0,21.8411,87.2973,"West Bengal,\nmostly in Jharkhand, Ranchi, Gum..."
869,1201,Takahanyilang,India,IND,Critically endangered,3000.0,6.8500,93.8726,Great Nicobar Island
998,1222,Tai Phake,India,IND,Severely endangered,2000.0,27.5033,95.2185,"Assam, mostly in Tinsukia and Dibrugarh districts"
1144,1575,Toda,India,IND,Critically endangered,1006.0,11.3184,76.8273,"Tamil Nadu, Nilgiri and Konda Hills"
1216,448,Toto,India,IND,Critically endangered,1000.0,26.6867,89.5056,"West Bengal, mostly in town of Totopara, in Ja..."
1249,562,Tarao,India,IND,Critically endangered,870.0,24.2970,93.4497,NaN
1799,1223,Tai Nora,India,IND,Critically endangered,100.0,26.8485,94.5648,NaN
1800,1224,Tai Rong,India,IND,Critically endangered,100.0,26.9024,94.7570,"Assam, around Jorhat in Sibsagar Dt."
1801,1220,Tangam,India,IND,Critically endangered,100.0,29.1473,94.5538,"Arunachal Pradesh, West Siang Dt.; on upper Si..."
2699,447,Tolcha,India,IND,Extinct,NaN,29.9333,80.0326,NaN